body {
    background-color: #F5F5F7; /* Light grey */
}

.oval-box-container {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.oval-box {
    position: relative;
    width: 300px; /* Adjusted width */
    height: 200px; /* Adjusted height */
    background-color: #4A4947; /* Dark grey */
    border-radius: 50%;
    color: #ffffff; /* White text */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.oval-box:hover {
    background-color: #181C14; /* Darker grey on hover */
}
